body,
html {
    min-height: 100%;
}
body{
    color:rgba(211,205,201,1);
    font-size: 18px
}
h1{
    text-shadow: 0px 0px 15px  #2C2C2C;
    font-size:70px;
    color: #F3F3F3;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
h2{
    color: #C3BED1;
    text-align: center;
}
h3{
    color: #C3BED1;
    text-align: center;
}
h4{
    color: #C3BED1;
    text-align: center;
}
p{
    text-align: justify;
    margin-right:5px;
}
.imgind{
    width:95%;
    height:13%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    opacity: 0.9;
}
.row{
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
    /*height:3200px;*/
}

.row2{
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
    /*height:740px;*/
    background-color: rgba(65,65,65,0.9);
    padding-top: 1%;
    padding-bottom: 1%;
}
.row3{
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
    /*height:1050px;*/
    margin-bottom: 10px;
}
img.prof{
    width: 300px;
    height: 330px;
    margin-right: 10px;
}
.profoto{
    width: 700px;
    height: 350px;
}
.profoto2{
    width: 700px;
    height: 30px;
    font-size:14px;
}
.profoto3{
    box-shadow: inset -1px -1px 10px 5px rgba(1,1,1,0.5);
    background-color: rgba(240,240,240,0.9);
    color:black;
    margin-top: 5%;
    margin-bottom: 5%;
}
.profoto4min1{
    width: 15%;
    height: auto;
    float: left;
}
.profoto4min2{
    width: 85%;
    height: 30%;
    margin-left: 15%;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 15px;
}
.profoto4min3{
    padding: 5px;
    width: 85%;
    height: 70%;
    margin-left: 15%;
    padding-left: 10px;
}

.profoto4min2 p
{
    font-size: 15px;
    margin: 0;
}

.col-md-4{
    padding-top: 40px;
    min-height: 50vh;
}

.col-md-8{
    min-height: 50vh;
}

.input-group.input-group-lg{
    margin: 30px;
}
.btn-group{
    margin-bottom: 50px;
}
.btn.btn-default{
    width: 250px;
    height: 55px;
}
.ism-slider{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:35px;
}
.bord{
    width:90%;
    margin-top: 25px;
    margin-left: 35px;
    text-align: center;
}

.TAB{
    border-top:solid 1px #000000;
    border-left:solid 1px #000000;
    margin-bottom: 10px;
}
.TD1{
    background: #4d5159;
    border-bottom:solid 1px #000000;
    border-right:solid 1px #000000;
    padding: 10px;
}
.TD2{
    background: #D7D7D7;
    color: #4d5159;
    border-bottom:solid 1px #000000;
    border-right:solid 1px #000000;
    text-align: center;
}
ul#menu{
    border: 1px solid #C7C7C7;
}
ul#menu, ul#menu ul {
    list-style-type:none;
    width: 335px;
    margin: 0 auto;
    padding: 0;

}

ul#menu a {
    display: block;
    text-decoration: none;
}

ul#menu li {
    margin-top: 1px;
}

ul#menu li a img {
    vertical-align: middle;
    padding: 0 5px 5px 0;
}

ul#menu li a {
    background: #4d5159;
    color: #fff;
    padding: 12px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
}

ul#menu li a:hover {
    background: #3b3e44;
}

ul#menu li ul li a {
    background: #ebeaec;
    color: #333;
    padding-left: 20px;
}

ul#menu li ul li a:hover {
    background: #d4d3d5;
    padding-left: 25px;
}

TD{
    padding: 10px;
}

#contact_form {
    font-family: Verdana, Arial, "Times New Roman";
    font-size: 12px;
    color: #666;
}
/** FORM STYLES GENERAL **/
#contact_form input, select, textarea,button {
    font-size: 11px;
    color:#999999;
    width: 300px;
    height: 28px;
    border: #CCC solid 1px;
    /** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#contact_form input:hover, select:hover, textarea:hover,#contact_form button:hover {
    border: 1px solid #999;
}

#contact_form input:focus, select:focus, textarea:focus,#contact_form button:focus {
    border: 1px solid #999;
}

/** FORM STYLE: textarea **/
#contact_form textarea {
    height: 80px;
    padding: 4px 2px 2px 4px;
    font-family: Verdana, Arial, "Times New Roman";
}
/** FORM STYLE: input **/
#contact_form input,button {
    padding: 0 5px 0px 30px;
    background-position: 7px 5px;
    background-repeat: no-repeat;
}

input#send,button#send {
    padding:0;
    cursor:pointer;
    width:135px;
    height: 23px;
    background: url(/img/lay/send_button.png);
}

input#send:hover, button#send:hover{
    border: 1px solid #999;
    color: #666;
}

#contact_form label {
    display:inline-block;
    width: 100px;
    vertical-align:top;
    margin-top: 6px;
}
/** CONTAINER OF INPUTS **/
#contact_form span {
    border:0;
    padding:0;
    margin:0;
    display: block;
    margin-bottom: 10px;
}
#ajax_loader {
    display:none;
}

#contact_form .noicon {
    padding: 0px 7px 0 7px;
    text-align:center;
}

div#contact {
    width: 444px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
    margin-top: 30px;
}

div#top {
    background: url(/img/lay/top.jpg);
    opacity: 0.9;
    height: 64px;
}

div#top h1 {
    font-family: Verdana, Arial;
    font-size: 22px;
    font-weight: normal;
    padding: 20px 0 0 20px;
    color: #fff;
}

div#center {
    background: url(/img/lay/center.jpg);
    opacity: 0.9;
    padding: 5px 15px 5px 25px;
}

div#bot {
    background: url(/img/lay/bot.jpg);
    opacity: 0.9;
    height: 13px;
}



.input-group textarea
{
    min-height: 25vh;
    resize: vertical;
}

.form-group, .form-control
{
    width: auto;
}

#commentform-verifycode-image
{
    float: left;
}

.profoto4min1 img
{
    max-width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

.profoto3 hr
{
    margin: 0;
}